body {
    background-image: url("espacio7.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.player {
    background-image: url("avion1.png");
    width: 160px;
    height: 162px;
    position: absolute;  
}
.enemy {
    background-image: url("enemy.png");
    width: 73px;
    height: 75px;
    position: absolute;
}

.newenemies {
    background-image: url("enemy2.png");
    width: 97px;
    height: 95px;
    position: absolute;
}


.missile {
    position: absolute;
    background-color: rgb(255, 145, 0);
    width: 2px;
    height: 10px;
}
